@charset "UTF-8";

#javascript{
	position : absolute;
	top : 35%;
	left : 35%;
	width : 400px;
	border : 1px;
	padding : 5x;
	box-shadow:1px 1px 1px #77f;
	border-radius:20px;
}

#javascript form>label{
   display : inline-block;
   width : 80px;
   text-align : left;
}

.btn{
	background-color : #0000ff;
	color : #ffffff;
}
